/* ------------ Variables------------- */

:root {
  --blueDark-color: #14183d;
  --dark-color: #000000;
  --blue-color-s: #0599ab;
  --green-color-a: #5c923f;
  --text-color-a: #ffffff;
}

/* ------------ Header------------- */

.header {
  color: var(--text-color-a);
  width: 100%;
  height: 80px;
  position: relative;
  background: linear-gradient(
    to right,
    var(--blueDark-color),
    var(--dark-color)
  );
  overflow: hidden;
  border: 2px solid var(--blueDark-color);
  box-shadow: 3px 3px 3px 5px var(--blueDark-color);
  transition: 1s all ease;
}
.header:hover {
  box-shadow: 3px 3px 25px 5px var(--blueDark-color);
  transition: 1s all ease;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 255, 0.2);
}

.header-container {
  position: absolute;
  width: 200%;
  height: 100%;
  display: grid;
  left: 0%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu tabs ";
  transition: 3s all ease;
}
.header-container:hover {
  left: -100%;
  transition: 3s all ease;
}

.header__title {
  font-size: 5rem;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  height: 100%;
}

.header__title-image {
  font-size: 5rem;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  display: flex;
}

.header__menu {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__title--image {
  width: 100px;
}

.header__menu a {
  color: var(--text-color-a);
  font-size: 3rem;
  font-weight: bold;
}

.header__menu a:hover {
  border-bottom: 0.5rem solid var(--blue-color-s);
}
