:root {
  --blueDark-color: #14183d;
  --text-color-a: #ffffff;
}

.task-new__form {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-columns: 1fr;
}

.task-new__form--item input {
  width: 100%;
  height: 5rem;
  margin: 1rem 0 2rem;
  padding: 1rem;
  font-size: 2rem;
}

.task-new__form--item span {
  font-size: 3rem;
  margin: 1rem;
}

.task-new__form--message {
  color: red;
}

.btn {
  color: var(--text-color-a);
  font-size: 1.8rem;
  font-weight: bold;
  height: 4.6rem;
  background-color: var(--blueDark-color);
  cursor: pointer;
}
