/* ------------ Variables------------- */

:root {
  --blueDark-color: #14183d;
  --dark-color: #000000;
  --blue-color-s: #0599ab;
  --green-color-a: #5c923f;
  --text-color-a: #ffffff;
}

.task {
  width: 85%;
  margin: 0 auto;
}

.task-container {
  width: 100%;
}

.tasks {
  width: 100%;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  max-width: 70rem;
  min-width: 32rem;
  font-size: 1.6rem;
  margin: 0 auto;
}
.tasks-container {
  border: 2px solid var(--blueDark-color);
}

.tasks-head {
  border-bottom: 2px solid var(--blueDark-color);
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
}

.tasks-body {
  height: 8rem;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  text-align: center;
  border-bottom: 2px solid var(--blueDark-color);
}

.tasks-body th {
  justify-self: center;
  align-self: center;
}

.tasks-body td {
  justify-self: center;
  align-self: center;
}

.tasks-body__num {
  font-weight: bold;
}
