.task-new {
  width: 85vw;
  margin: 4rem auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-new-container {
  width: 100%;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  max-width: 70rem;
  min-width: 32rem;
}
