@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Yusei Magic", sans-serif;
}
h1 {
  font-family: "Yusei Magic", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
